/* Add your CSS styles here */
.form-container {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 50%;
  margin: 0 auto;
}
.form-control {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 20px;
}
label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  float: left;
  margin-right: 20px;
}
.error {
  color: red;
  font-size: 12px;
}
.order-btn {
  background: grey;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  width: 100%;
}
